.pagination {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 137.69%;
  color: #474955;
}

.pages {
  display: flex;
  gap: 10px;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 137.69%;
  color: #474955;
}

.page {
  cursor: pointer;
}

.activePage {
  color: #7ebc3c;
}
